body{
  font-family: "Montserrat";
  text-align: center;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
h2{
  font-size: 2.5rem;
  line-height: 1.5;
}
h3{
  font-size: 1.2rem;
}
p{
  color: #8f8f8f
}
/* section */
.colored-section{
  background-color: #ff4c68;
  color: #fff;
}
.white-section{
  background-color: #fff;
  color: #000;
}
.container-fluid{
  padding: 7% 15%;
}
/* heading */
.big-heading{
  font-family: 'Montserrat, sans-serif';
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}
/* navigation bar */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-link{
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: 400;

}
.nav-item{
  padding: 0 18px;
}
/* download button */
.download-button{
  margin: 5% 3% 5% 0;
}
/* title */
#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}
.title-image{
  width: 20%;
  transform: rotate(25deg);
  position: absolute;

}
@media (max-width: 991px) {
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
    width: 50%;
  }
}
/* features */
#features{
  position: relative;

}
.features-icon{
  font-size: 6rem;
  color: #ef8172;
  margin-bottom: 1rem;

}
.features-icon:hover{
  color: #ff4c68;
}
.features-div{
  padding: 1rem 5%;
}

/* Testimonial section */


.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
#press{
  padding-bottom: 3%;
}
.press-logo{
  width: 15%;
  padding: 20px 20px 50px;
}
/* pricing section */
#pricing{
  padding: 100px;
}
.sign-up-button{
  width: 100%;
}
.pricing-column{
  padding: 3% 2%;
}
/* call to action */


/* footer */
#footer{
  padding-top: 5rem;
}
.footer-icon{
  margin: .75rem;
}
